body{
    /* max-width: 800px;
    min-height: 300vh; */
    margin: 0 ;
    font-family: "P22 Underground CY Pro" ;
   background-color:black;
    }

    p{
        color: blueviolet;
        width: 500px;
    }

    /* h2{
        font-style: italic; */
    }

    .life {
        color: chocolate;
    }  