body{
    max-width: 800px;
    margin: 0 auto ;
    font-family: "P22 Underground CY Pro" ;
    }

    p{
        color: blueviolet;
        width: 500px;
    }

    /* h2{
        font-style: italic; */
    }

    .life {
        color: chocolate;
    }  